// signInDialog.module.scss

$icon-size: 24px;

.iconContainer {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .googleIcon {
    width: --icon-size;
    height: --icon-size;
  }

  .loaderIcon {
    width: --icon-size;
    height: --icon-size;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
