@use "mixins/typography" as type;
@use "mixins/layout" as layout;

.section {
  @include layout.stack(var(--space-3));
}

.title {
  @include type.typography(label);
  color: var(--mono-text-low-contrast);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 3px;
  pointer-events: none;
}
